@charset "UTF-8";

// 1. Configuration and helpers
@import "abstracts/variables",
"abstracts/mixins";

// 2. Base stuff
@import "base/base",
"base/fonts",
"base/helpers";

// 3. Components

$page-breakpoint: 1000px;


.MuiList-padding {
  padding-top: 0 !important;
}

.MuiListSubheader-sticky {
  background-color: #ffffffa1 !important;
}

.page {
  padding: 30px;
  padding-bottom: 200px;
  max-width: 1000px;
  margin: auto;

  .error {
    padding: 10px 0 10px;
    color: red;
  }
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url("/images/logo.jpg");
  background-position: center;
  background-size: contain;
}

.logo-menu {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/logo.jpg");
  background-position: center;
  background-size: contain;
}

.human-body {

  .prototype {
    margin: auto;
    width: 250px;
    height: 500px;
    background-image: url('/images/body.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(5, 1fr);

    .body-part {
      opacity: 0;
      color: black;
      text-align: center;
      padding: 20px 0 20px;
      border-radius: 100%;

      &.selectable {
        cursor: pointer;

        &.selected {
          opacity: 0.5;
          color: transparent;
          background-color: red;
        }
      }
    }

    .selectable:hover {
      opacity: 0.5;
      background-color: #e3e3e3;
    }
  }
}

.symptoms {
  text-align: center;
  width: 300px;
  margin: auto;

  .slider {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.loading {
  margin: auto;
  text-align: center;
}

.liga {
  margin: 20px 0 20px;
}

.MuiTypography-root {
  padding: 0 0 10px;
}

.doctor {
  padding: 15px;
  cursor: pointer;
}

.doctor:hover {
  background: rgba(231, 231, 231, 0.623);
}

.doctors-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.MuiAvatar-root {
  width: 70px !important;
  height: 70px !important;
}

.profile-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  @media (max-width: $page-breakpoint) {
    grid-template-columns: repeat(1, 1fr);
  }

  .error {
    padding: 10px 0 10px;
    color: red;
  }

  &.match-create {
    min-width: 400px;
  }
}